@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Физический адрес:   </strong>Казань, Пушкина 32<br />
</address>
<address>
    <strong>Phone</strong>
    +7(950)312-69-59
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yt.ru9944@mail.ru">yt.ru9944@mail.ru</a><br />
</address>
