@model MainPageDTO
@{
    ViewBag.Title = "Index";
}
<div>
    <style>
   h1 {
    background: #ffffff;
    padding: 40px;
    color: #000000;
   }
    h2 {
    background: #ffffff;
    padding: 20px;
    color: #000000;
   }
   p {
    background: #ffffff;
    padding: 0px;
   }
   table {
    border: 4px double #333; /* Рамка вокруг таблицы */ 
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 7px 11px; /* Расстояние между ячейками */ 
   }
   td {
    padding: 5px; /* Поля вокруг текста */ 
    border: 1px solid #f52a2f; /* Граница вокруг ячеек */ 
   }
  </style>
    <div >
        <h1 style=" margin: 0 auto; text-align: center; background:  #f52a2f;">Панель управления</h1>
    
        <div class="row">
            <div class="col-md-6">
            <h2>Устройства</h2>
                
                   <table cellpadding="15" cellspacing="50">
                   
                    <tr>
                        <th>Наименование</th>
                        <th>Состояние</th>
                        <th></th>
                    </tr>
                    @foreach (var device in Model.devices)
                    {
                        <tr>
                            <td>@device.Name</td>
                            <td>@device.Status</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" value=@device.Status name="status" />
                                    <input type="hidden" value=@device.Id name="id" />
                                    <input type="submit" value="Изменить" />
                                </form>
                            </td>
                        </tr>
                    }
                    </table>
            </div>
            <div class="col-md-6">
            <h2>Средние значения</h2>
            <table cellpadding="15" cellspacing="50">
                   
                    <tr>
                        <th></th>
                        <th>Сейчас</th>
                        <th>За минуту</th>
                        <th>За час</th>
                        <th>За день</th>
                        <th>За неделю</th>
                        <th>За месяц</th>
                    </tr>
                    @foreach (var sensor in Model.sensors)
                    {
                        <tr>
                            <td>@sensor.Name</td>
                            @foreach (var avereageValue in sensor.AvereageValues)
                            {
                                <td>@avereageValue.Value</td>
                            }                            
                        </tr>
                    }                    
                    </table>
            </div>
        </div>
    </div>
</div>

</div>
